html,
body {
  font: 15pt/1.21 'Helvetica Neue', arial, sans-serif;
  font-weight: 400;
  width: 21cm;
  margin: 0;
  padding: 3mm 3mm 3mm 8mm;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.formula {
  display: flex;
  flex-direction: column;
  width: 1.2cm;
  margin-right: 1.8cm;
  margin-bottom: 0.845cm;
}

.formula .stNum,
.formula .ndNum {
  text-align: right;
}

.formula .break {
  border-bottom: 2px solid grey;
}

.formula .result {
  margin-bottom: 1cm;
  margin-top: 0.8cm;
  border-bottom: 1px solid grey;
}

label {
  margin-right: 3mm;
}

input {
  font: 15pt/1.21 'Helvetica Neue', arial, sans-serif;
  margin-right: 0.3cm;
  margin-bottom: 1cm;
  width: 3.5cm;
}

button {
  margin-right: 1cm;
  font: 15pt/1.21 'Helvetica Neue', arial, sans-serif;
}



@media print {
  .no-print {
    display: none;
  }
  .page-break {
    page-break-after: always;
  }
}
